#### Instructions:

For all questions after 10th, Please only use the data specified in the note given just below the question
You need to add answers in the same file i.e. PDS_UberDriveProject_Questions.ipynb' and rename that file as 'Name_Date.ipynb'.You can mention the date on which you will be uploading/submitting the file.For e.g. if you plan to submit your assignment on 1st Jan,2021, you can rename the file as 'STUDENTNAME_01-Jan-2021'

# Load the necessary libraries. Import and load the dataset with a name uber_drives .

In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
# Get the Data
uber_drives = pd.read_csv("uberdrives.csv")
uber_drives.info

<bound method DataFrame.info of            START_DATE*         END_DATE* CATEGORY*            START*  \
0     01-01-2016 21:11  01-01-2016 21:17  Business       Fort Pierce
1     01-02-2016 01:25  01-02-2016 01:37  Business       Fort Pierce
2     01-02-2016 20:25  01-02-2016 20:38  Business       Fort Pierce
3     01-05-2016 17:31  01-05-2016 17:45  Business       Fort Pierce
4     01-06-2016 14:42  01-06-2016 15:49  Business       Fort Pierce
...                ...               ...       ...               ...
1150   12/31/2016 1:07   12/31/2016 1:14  Business           Karachi
1151  12/31/2016 13:24  12/31/2016 13:42  Business           Karachi
1152  12/31/2016 15:03  12/31/2016 15:38  Business  Unknown Location
1153  12/31/2016 21:32  12/31/2016 21:50  Business        Katunayake
1154  12/31/2016 22:08  12/31/2016 23:51  Business           Gampaha

                 STOP*  MILES*         PURPOSE*
0          Fort Pierce     5.1   Meal/Entertain
1          Fort Pierce     5.0              NaN
2          Fort Pierce     4.8  Errand/Supplies
3          Fort Pierce     4.7          Meeting
4      West Palm Beach    63.7   Customer Visit
...                ...     ...              ...
1150           Karachi     0.7          Meeting
1151  Unknown Location     3.9   Temporary Site
1152  Unknown Location    16.2          Meeting
1153           Gampaha     6.4   Temporary Site
1154         Ilukwatta    48.2   Temporary Site

[1155 rows x 7 columns]>

## Q1. Show the last 10 records of the dataset. (2 point)

In [8]:
uber_drives.tail(10)

,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*,PURPOSE*
1145,12/30/2016 10:15,12/30/2016 10:33,Business,Karachi,Karachi,2.8,Errand/Supplies
1146,12/30/2016 11:31,12/30/2016 11:56,Business,Karachi,Karachi,2.9,Errand/Supplies
1147,12/30/2016 15:41,12/30/2016 16:03,Business,Karachi,Karachi,4.6,Errand/Supplies
1148,12/30/2016 16:45,12/30/2016 17:08,Business,Karachi,Karachi,4.6,Meeting
1149,12/30/2016 23:06,12/30/2016 23:10,Business,Karachi,Karachi,0.8,Customer Visit
1150,12/31/2016 1:07,12/31/2016 1:14,Business,Karachi,Karachi,0.7,Meeting
1151,12/31/2016 13:24,12/31/2016 13:42,Business,Karachi,Unknown Location,3.9,Temporary Site
1152,12/31/2016 15:03,12/31/2016 15:38,Business,Unknown Location,Unknown Location,16.2,Meeting
1153,12/31/2016 21:32,12/31/2016 21:50,Business,Katunayake,Gampaha,6.4,Temporary Site
1154,12/31/2016 22:08,12/31/2016 23:51,Business,Gampaha,Ilukwatta,48.2,Temporary Site

## Q2. Show the first 10 records of the dataset. (2 points)

In [10]:
uber_drives.head(10)

,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*,PURPOSE*
0,01-01-2016 21:11,01-01-2016 21:17,Business,Fort Pierce,Fort Pierce,5.1,Meal/Entertain
1,01-02-2016 01:25,01-02-2016 01:37,Business,Fort Pierce,Fort Pierce,5.0,NaN
2,01-02-2016 20:25,01-02-2016 20:38,Business,Fort Pierce,Fort Pierce,4.8,Errand/Supplies
3,01-05-2016 17:31,01-05-2016 17:45,Business,Fort Pierce,Fort Pierce,4.7,Meeting
4,01-06-2016 14:42,01-06-2016 15:49,Business,Fort Pierce,West Palm Beach,63.7,Customer Visit
5,01-06-2016 17:15,01-06-2016 17:19,Business,West Palm Beach,West Palm Beach,4.3,Meal/Entertain
6,01-06-2016 17:30,01-06-2016 17:35,Business,West Palm Beach,Palm Beach,7.1,Meeting
7,01-07-2016 13:27,01-07-2016 13:33,Business,Cary,Cary,0.8,Meeting
8,01-10-2016 08:05,01-10-2016 08:25,Business,Cary,Morrisville,8.3,Meeting
9,01-10-2016 12:17,01-10-2016 12:44,Business,Jamaica,New York,16.5,Customer Visit

## Q3. Show the dimension(number of rows and columns) of the dataset. (2 points)

## Q4. Show the size (Total number of elements) of the dataset. (2 points)

## Q5. Display the information about all the variables of the data set. What can you infer from the output?(1 +2 points)

#### Hint: Information includes - Total number of columns,variable data-types, number of non-null values in a variable, and usage

## Q6. Check for missing values. (2 points) 

####  Note: Output should contain only one boolean value

## Q7. How many missing values are present in the entire dataset? (2 points)

## Q8. Get the summary of the original data. (2 points).

#### Hint: Summary includes- Count,Mean, Std, Min, 25%,50%,75% and max



## Q9. Drop the missing values and store the data in a new dataframe (name it"df") (2-points)

#### Note: Dataframe "df" will not contain any missing value

## Q10. Check the information of the dataframe(df). (1 points)

#### Hint: Information includes - Total number of columns,variable data-types, number of non-null values in a variable, and usage

## Q11. Get the unique start locations. (2 points)
#### Note: This question is based on the dataframe with no 'NA' values

## Q12. What is the total number of unique start destinations? (2 points)
#### Note: Use the original dataframe without dropping 'NA' values

## Q13. What is the total number of unique stop locations. (2 points)
#### Note: Use the original dataframe without dropping 'NA' values.

## Q14. Display all Uber trips that has the starting point as San Francisco. (2 points)
#### Note: Use the original dataframe without dropping the 'NA' values.

## Q15. What is the most popular starting point for the Uber drivers? (2 points)
#### Note: Use the original dataframe without dropping the 'NA' values.

#### Hint:Popular means the place that is visited the most

## Q16. What is the most popular dropping point for the Uber drivers? (2 points)
#### Note: Use the original dataframe without dropping the 'NA' values.

#### Hint: Popular means the place that is visited the most

## Q17. What is the most frequent route taken by Uber drivers. (3 points)
#### Note: This question is based on the new dataframe with no 'na' values.
#### Hint-Print the most frequent route taken by Uber drivers (Route= combination of START & END points present in the Data set).

## Q18. Display all types of purposes for the trip in an array. (2 points)
#### Note: This question is based on the new dataframe with no 'NA' values.

## Q19. Plot a bar graph of Purpose vs Miles(Distance). What can you infer from the plot(2 +2 points)
#### Note: Use the original dataframe without dropping the 'NA' values.
#### Hint:You have to plot total/sum miles per purpose

## Q20. Display a dataframe of Purpose and the total distance travelled for that particular Purpose. (3 points)
#### Note: Use the original dataframe without dropping "NA" values

## Q21. Generate a plot showing count of trips vs category of trips. What can you infer from the plot (2 +1 points)
#### Note: Use the original dataframe without dropping the 'NA' values.

## Q22. What percentage of Miles were clocked under Business Category and what percentage of Miles were clocked under Personal Category ? (3 points)

### Note:Use the original dataframe without dropping the 'NA' values.

***THE END***